<Div Class="d-flex flex-column flex-shrink-0">
    <Link To="" Class="nav-link text-center py-3 text-light">ENEA</Link>
    <Div Class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <Link To="/Users" Class="nav-link py-3 border-bottom border-dark">
            <Icon Name="@("fa-users")"/>
        </Link>
        <Link To="/Counter" Class="nav-link py-3 border-bottom border-dark">
            <Icon Name="@("fa-users")"/>
        </Link>
        <Link To="/Error" Class="nav-link py-3 border-bottom border-dark">
            <Icon Name="@("fa-bug")"/>
        </Link>
    </Div>
</Div>