@page "/"
@using Generated.Client
@inject ILogger<Home> Logger
@inject MyApiClient client
@inject IJSRuntime JSRuntime
@rendermode InteractiveServer

<MudText
    Typo="Typo.h3">
    <b>E</b>nergetické <b>N</b>abíječky pro <b>E</b>nergetické <b>A</b>uta
</MudText>

<div id="map" style="height: 500px; width: 100%; border-radius: 4px;"></div>

@code {

    protected override async Task OnAfterRenderAsync(Boolean firstRender)
    {
        if (firstRender)
        {
            Logger.LogInformation("Loading map");
            var groups = await client.ChargerGroupGETAsync(0, 0);
            await LoadMap(groups.Items);
        }
    }

    private async Task LoadMap(ICollection<ChargerGroupReadDto> groups)
    {
        Logger.LogInformation("Loading map script");
        await JSRuntime.InvokeVoidAsync("loadMapScript", groups);
    }

}