@page "/Users/{id:guid}"
@using System.Text.Json
@using Generated.Client
@inject MyApiClient client
@inject NavigationManager Navigation
@attribute [StreamRendering]
@rendermode InteractiveServer

<PageTitle>User Details</PageTitle>

<AsyncLoader Accessor="LoadUser">
    <Loader>
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Animation="Animation.Wave"/>
    </Loader>
    <Render>
        <MudStack>
            <div>
                <MudText Typo="Typo.h3">@context.Name</MudText>
                <CreatedAndUpdated Created="context.CreatedAt" Updated="context.UpdatedAt"/>
            </div>
            <MudText Typo="Typo.body1">@context.Email</MudText>
            <MudText Typo="Typo.body2">roles</MudText>
            <MudStack Row="true">
                <MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="NavigateBack">
                    Back
                </MudButton>
            </MudStack>
            <Collapse>
                <Content>
                    <MudText Typo="Typo.body2" Class="m-5">
                        <code>
                            <pre>
                                @JsonSerializer.Serialize(context, new JsonSerializerOptions { WriteIndented = true })
                            </pre>
                        </code>
                    </MudText>
                </Content>
            </Collapse>
        </MudStack>
    </Render>
</AsyncLoader>

@code {
    [Parameter] public Guid id { get; set; }

    private async Task<UserReadDetailDto> LoadUser(IMyApiClient client) => await client.UserGET2Async(id);

    private void NavigateBack()
    {
        Navigation.NavigateTo("/Users");
    }
}