@using Generated.Client
@typeparam T
@inject MyApiClient client;
@attribute [StreamRendering]

@code {

    [Parameter] public Func<IMyApiClient, Task<ICollection<T>>> Accessor { get; set; }

    [Parameter] public RenderFragment<T> Render { get; set; }

    private IEnumerable<T> items;
    private Boolean isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        items = await Accessor(client);
        isLoading = false;
    }

}

@if (isLoading)
{
    <tr>
        <td>Loading...</td>
    </tr>
}
else
{
    @foreach (var item in items)
    {
        @Render(item)
    }
}